<!-- Testimonials -->

  <section class="colored-section" id="testimonials">

    <div id="testimonial-carousel" class="carousel slide" data-ride="false">
      <div class="carousel-inner">
        <div class="carousel-item active container-fluid">
          <h2 class="testimonial-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque et feugiat lacus.</h2>
          <img  src="images/book.jpg" alt="Los Angeles">
          <em>Dictum augue, New York</em>
        </div>
        <div class="carousel-item container-fluid">
          <h2 class="testimonial-text">Nunc lacinia nisi ut mollis fermentum. Donec odio ipsum, posuere gravida orci.</h2>
          <img src="images/lady-img.jpg" alt="lady-profile">
          <em>Donec et, Illinois</em>
        </div>
      </div>
      <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon"></span>
      </a>
    </div>

  </section>
