	<div class="container-form">
  <form action="/users/forms" method="POST">

    <label for="matter">Matter</label>
    <textarea id="matter" name="subject" placeholder="Write the message to be sent via text" style="height:200px"></textarea>

   <button type="submit" >Send via SMS</button>
   

  </form>
</div>