

	<div class="container-form">
  <form action="/users/qwhatsapp_form" method="POST">

    <label for="matter">Question</label>
    <textarea id="matter" name="subject" placeholder="Enter upto 3 questions" style="height:200px"></textarea>
		<label for="matter">Answers</label>
		<textarea id="matter" name="answer" placeholder="Enter the answers" style="height:200px"></textarea>

		<button type="submit" >Send via Whatsapp</button>


  </form>
</div>