<div class="container-form">
  <form action="/users/whatsapp_form" method="POST">

    <label for="matter">Matter</label>
    <textarea id="matter" name="subject" placeholder="Write the message to be sent via Whatsapp" style="height:200px"></textarea>

    <button type="submit" >Send via whatsapp</button>

  </form>
</div>